<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>My Weather App</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="intro">
            <h1>Welcome to My Weather App</h1>
            <p>Enter a location below to get the current weather information.</p>
        </div>
        
        <form id="weather-form">
            <input type="text" placeholder="Enter Location" id="location-input" required>
            <button type="submit">Search</button>
        </form>
        
        <div class="messages">
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
    </div>
    
    {{>footer}}
    <script src="js/app.js"></script> 
</body>
</html>
